/*--Header*/
.navbar{
  margin-bottom: 0;
  background: #052C5A;

}
.jumbotron{
  background: #052C5A;
  color: #f9cd1d;
  padding: 20px 0;
}
h3{
  color: #bf9d15;
}
.finta{
  background: #fff;
margin-left: 0px;
}
